{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flushed</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Bebas+Neue&family=Inter:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>

    <nav>
        <ul class="nav-links">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'products' %}">Shop</a></li>
            <li><a href="{% url 'order_form' %}">Order</a></li>
            <li><a href="#">Lookbook</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

    {% block content %}
    {% endblock %}

    <footer>
        <p>© 2025 Flushed — Spread the Code, Help Homies</p>
    </footer>

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>